/* Remove default margin/padding from the body */
body, html {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    background-image: url("https://dk2dv4ezy246u.cloudfront.net/widgets/sMO9oTk7iJK_large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* Body styles */
body {
    font-family: "Comic Sans MS", "Comic Sans";
    margin: 0;
    padding: 0;
    background-image: url("https://64.media.tumblr.com/fd9dea9bd9c3d403dff1ac61caca1091/tumblr_orpi2cL3QU1wpzpibo1_400.gifv");
    background-repeat: repeat;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px;
    text-align: center;
    
}
p {
    font-size: 40px;
    background-color: white;
}

h1 {
    background-color: white;
}

h2 {
    background-color: white;
}

h3 {
    background-color: white;
}

a {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center; /* Centers the <a> elements */
}

li {
    display: inline-block; /* Makes the <li> elements behave like inline elements */
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #ffdafa;
}